@model IEnumerable<AutodijeloviDemic.Models.Category>

<h1>Kategorije</h1>

<table class="table">
    <thead>
        <tr>
            <th>Ime Kategorije</th>
            <th>Slika</th>
            <th>Akcije</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.Name</td>
                <td>
                    @if (category.ImageData != null && category.ImageMimeType != null)
                    {
                        <img src="data:@category.ImageMimeType;base64,@Convert.ToBase64String(category.ImageData)"
                             alt="@category.Name" style="width: 100px;" />
                    }
                    else
                    {
                        <span>Nema slike</span>
                    }
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@category.CategoryId" class="btn btn-info">Detalji</a>
                    <a asp-action="Edit" asp-route-id="@category.CategoryId" class="btn btn-warning">Uredi</a>

                    <!-- Forma za brisanje kategorije -->
                    <form id="deleteCategoryForm_@category.CategoryId" asp-action="Delete" asp-route-id="@category.CategoryId" method="post" style="display:inline;">
                        <button type="button" id="confirmDeleteCategoryBtn_@category.CategoryId" class="btn btn-danger">Obriši</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-primary">Dodaj novu kategoriju</a>

@section Scripts {
    <script src="~/js/confirmDeleteCategory.js"></script>
}
